*vendor
composer.lock
composer.phar
.DS_Store
/node_modules
/public/storage
/storage/*.key
Thumbs.db
/bower_components

.env.backup
.idea
.vscode

.vagrant
Homestead.yaml
npm-debug.log

.phpunit.cache

/storage/.license
/storage/fonts
/storage/installing
/storage/installed
/log

package-lock.json
yarn.lock
/.sass-cache
build
