includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
        - tests
        - common
    parallel:
        maximumNumberOfProcesses: 4
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
